$red: #833;

$title: rgb(12, 12, 12);
$text: rgb(26, 26, 26);
$linkText: rgb(196, 196, 196);
$label: rgb(166,170,191);

$button: rgb(77, 243, 255);
$select: rgba(63, 63, 63, 0.5);

$nav: rgb(41, 41, 41);

$backing: rgb(29, 29, 29);
$editBacking: rgb(220, 220, 220);
